<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= locals.title %></h1>
    <p>Welcome to <%= locals.title %></p>
    <p>Token  <%= locals.token %></p>
    <p>Error <%= locals.err %></p>
  </body>
</html>